@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins',sans-serif;
    background-color: grey;
        display: flex;
     justify-content: center;
     align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: floralwhite;
   height: 300px;
     width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.container h1{
    text-decoration: underline;
}
#password{
    height: 20px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid black;
      padding-left: 10px;
}
.container p{
    margin-bottom: 10px;
}
button {
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
      border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    margin-bottom: 16px;
}

button:hover {
    background-color: darkgrey;
    color: black;
}
