@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif; 
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  
  color: white;
  padding: 10px 0;
  position: absolute;
  left: 0;
  border-radius: 50px;
  height: 100px;
  width: 500px;
  text-align: center;
  transition:0.3s ease; 
  transform-origin: top center; 
  top: 0px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-header {
  display: flex;
  align-items: center;
}


.navbar-toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 26px;
  color: black;
 
  right: 70px;

}

.navbar-toggler:focus {
  outline: none;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transition:  0.3s ease;
   transform: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scaleY(0); 
  transform-origin: top center;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 10px;
  border-radius: 30px;
  background-color: black;
  border-top: 2px solid white;
  box-shadow: 0 4px 6px grey;
}

.navbar-menu.active {
  opacity: 1;
  pointer-events: auto;
  transform: scaleY(1); 
}

.navbar-menu li {
  margin: 10px 0;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: lightgray;
}
