@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: gray;
}

.container {
  width: 90%;
  max-width: 500px;
  background-color: white;
  padding: 64px 48px;
  border-radius: 8px;
  box-shadow: 0 32px 768px rgba(0, 9, 50, 0.3);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.app-title {
  color: black;
  font-size: 25.6px;
}

.input-wrapper {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 16px;
  margin: 32px 0 16px 0;
}

input {
  border: none;
  border-bottom: 2px solid whitesmoke;
  color: #000000;
  padding: 16px 0;
  font-weight: 400;
  font-size: 16px;
}

input:focus {
  border-bottom: 2px solid black;
}

button {
  font-size: 16px;
  padding: 16px 8px;
  background-color: black;
  border: none;
  color:white;
  border-radius: 8px;
  cursor: pointer;
}

p {
  text-align: center;
  color:white;
  font-weight: 400;
  padding: 16px 0;
  border-radius: 8px;
  transition: 0.5s;
}

p span {
  font-weight: 500;
  
}

.success {
  background-color: lightgreen;
  animation: pop 0.4s;
  color: black;
}

.error {
  background-color: red;
  animation: pop 0.4s;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
