@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background: white;
}
.landing {
  background-image: url(hero.jpg);
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.section-container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}

.section-title {
  text-align: center;
  padding: 60px 0 100px;
  font-size: 50px;
  text-transform: uppercase;
}

.section-title::after {
  content: "";
  width: 80px;
  background: white;
  height: 5px;
  display: block;
  margin: 7px auto 0;
  border-radius: 6px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

.nav .logo .title {
  color: white;
  font-size: 30px;
  font-weight: 200;
}

.nav .menu {
  display: flex;
  gap: 10px;
}

.nav .menu .item .link {
  display: block;
  padding: 10px 20px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 12px;
  transition: 0.3s ease;
}

.nav .menu .item .link:hover {
  background: transparent;
  border: 1px solid gray;
  color: white;
  scale: 1.1;
}

#open-menu,
#close-menu {
  font-size: 16px;
  color: white;
  cursor: pointer;
  display: none;
}
.hero {
  margin-left: 130px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  padding-top: 85.12px;
  min-height: calc(100vh - 85.12px);
}

.container .details .headline {
  font-size: 40px;
  color: white;
  font-family: "Playwrite CU", cursive;
  transition: 0.3s ease;
}

.container .details .subhead {
  font-size: 18px;
  font-weight: 300;
  color: white;
  margin-top: 8px;
  max-width: 70%;
  text-align: center;
}

.container .details .description {
  font-size: 14px;
  font-weight: 300;
  color: white;
  margin: 20px 0 40px;
  max-width: 70%;
  text-align: center;
}

.container .buttons {
  display: flex;
  gap: 24px;
}

.container .buttons .button {
  padding: 8px 28px;
  border: 2.08px solid transparent;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  color: white;
  font-size: 16px;
  font-weight: 300;
  transition: 0.3s ease;
}

.container .buttons .contact {
  color: white;
  border-color: white;
  background: none;
}

.container .buttons .contact:hover {
  color: white;
  border-color: lightgray;
  background: transparent;
}

.container .buttons .order:hover {
  color: white;
  border-color: white;
  background: none;
}

.container .image-wrapper {
  max-width: 100%;
}

.container .image-wrapper .image {
  width: 100%;
}
#about {
  height: 80vh;
  width: 100%;
  background: radial-gradient(#141e2f, #050814);
  background-size: cover;
  background-repeat: round;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.about-description {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  width: 40vw;
  text-align: center;
  color: #c0c0c0;
}

#description-text {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

#description-text.expanded {
  max-height: 1000px; 
}

#toggle-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: #c0c0c0;
  border: none;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 12px;
  transition: background-color 0.3s;
}

#toggle-btn:hover {
  background-color: white;
  color: black;
}

#gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: radial-gradient(#141e2f, #050814);
}
.main {
  max-width: 1200px;
  width: 95%;
}
.main h1{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
}

.slider .btn-icon {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 40px;
  width: 60px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 16px ;
  background: #474973;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transform: translateY(-50%);
}

.slider .btn-icon:hover {
  background: #141e2f;
  border: 1px solid gold;
}

.slider .btn-icon#prev {
  left: -90px;
  display: none;
}

.slider .btn-icon#next {
  right: -90px;
}

.slider .list-images {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider .list-images::-webkit-scrollbar {
  display: none;
}

.slider .item-image {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.scrollbar .track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.scrollbar:hover .track {
  height: 4px;
}

.scrollbar .thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.scrollbar .thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.scrollbar .thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

@media only screen and (max-width: 1023px) {
  .slider .btn-icon {
    display: none !important;
  }

  .slider .list-images {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider .item-image {
    width: 280px;
    height: 380px;
  }

  .scrollbar .thumb {
    width: 20%;
  }
}

#services {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#141e2f, #050814);
  padding: 20px;
  text-align: center;
  transition:  0.3s ease, color 0.3s ease;
  color: white;
}

.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

#services h2 {
  font-size: 30px;
}

.services .services-btn {
  position: relative;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 10px 10px;
  background: transparent;
  margin: 10px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.3);
  border-top: 1px solid gold;
  overflow: hidden;
  border-radius: 8px;
  border: none;
  transition: 0.3s ease, color 0.3s ease;
}

.services .services-btn:hover {
  background-color:  #050814;
  border: 1px solid gold;
  color:  white;
}

.services .services-btn .overlay {
  position: absolute;
  background: gold;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: blink 0.5s linear;
}
@keyframes blink {
  0% {
      height: 0px;
      width: 0px;
      opacity: 0.5;
  }
  100% {
      height: 400px;
      width: 400px;
      opacity: 0;
  }
}
#contact {
  width: 100%;
  background: radial-gradient(#141e2f, #050814);
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#contact .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-left: 100px;
  color: white;
}

#contact .content .left {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

#contact .content .left::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

#contact .content .left .address,
#contact .content .left .phone,
#contact .content .left .email {
  margin: 14px;
  text-align: center;
}

#contact .content .left .address i,
#contact .content .left .phone i,
#contact .content .left .email i {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}

#contact .content .left .address .topic,
#contact .content .left .phone .topic,
#contact .content .left .email .topic {
  font-size: 18px;
  font-weight: 500;
}

#contact .content .left .address .line-one,
#contact .content .left .address .line-two,
#contact .content .left .phone .line-one,
#contact .content .left .phone .line-two,
#contact .content .left .email .line-one,
#contact .content .left .email .line-two {
  font-size: 14px;
  color: #afafb6;
}

#contact .content .right {
  width: 75%;
  margin-left: 75px;
}

#contact .content .right .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: white;
}

#contact .content .right .input {
  height: 40px;
  width: 80%;
  margin: 22px 0;
}

#contact .content .right .input input,
#contact .content .right .message input {
  height: 100%;
  width: 80%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

#contact .content .right .message {
 height: 150px;
}

#contact .content .right .input input {
  padding-top: 6px;
}

#contact .content .right .button {
  display: inline-block;
  margin-top: 12px;
}

#contact .content .right .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #141e2f;
  cursor: pointer;
  transition: all 0.3s ease;
}

#contact .content .right .button input[type="button"]:hover {
  background: transparent;
  border: 1px solid gold;
}

@media (max-width: 950px) {
  #contact {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }

  #contact .content .right {
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 820px) {
  #contact {
    margin: 40px 0;
    height: 100%;
  }

  #contact .content {
    flex-direction: column-reverse;
  }

  #contact .content .left {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  #contact .content .left::before {
    display: none;
  }

  #contact .content .right {
    width: 100%;
    margin-left: 0;
  }
}
