@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 01px 10px 10px rgba(0, 0, 0, 0.3);
    width: 300px; 
}

.input {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-self: center;
}

.input input {
    height: 50px;
    width: calc(100% - 40px); 
    outline: none;
    border: 2px solid lightgray;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 16px;
    transition:  0.3s ease;
}

.input input:focus,
.input input:valid {
    border-color: grey;
}

.input label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: lightgray;
    transition: top 0.3s ease, 0.3s ease, color 0.3s ease;
}

.input input:focus ~ label,
.input input:valid ~ label {
    top: 0;
    font-size: 12px;
    color: grey;

    background-color: white;
    padding: 0 5px;
}

.input .toggle {
    position: absolute;
    display: flex;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;

    font-size: 20px;
    color: darkgray;
    transition: color 0.3s ease;

    
}

.input .toggle:hover {
    color: grey;
}
