*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightblue;
}
img{
    height: 300px;
    width: 400px;
    margin-bottom: 10px;
    border: 10px solid dimgray;
}
button{
    height: 30px;
    width: 100px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}
button:hover{
    background-color:lightslategray;
    color: white;
}

@media (max-width:1231px){
    img{
        height: 200px;
        width: 300px;
    }

}
