*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: WHITE;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: white;border-radius: 8px;
}
button:hover{
    color: black;
background-color: white;
border: 1px solid black;

}

.alert {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    position: fixed;
    top: 10%;
    right: 10%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    gap: 10px;
}

.alert .fas {
    font-size: 20px;
}

.alert .msg {
    flex-grow: 1;
}

.alert .close-btn {
    cursor: pointer;
}

.hide {
    display: none;
}
